{% extends "govuk-prototype-kit/layouts/unbranded.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block content %}

<h1 class="govuk-heading-l">Summary</h1>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Address"
      },
      value: {
        text: address
      }
    }
  ]
}) }}

{% endblock %}