{% extends "govuk-prototype-kit/layouts/unbranded.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block content %}

<h1 class="govuk-heading-l">Confirm address</h1>

<p class="govuk-body">{{noOfAddresses}} addresses found for {{postcode}} and {{building}}.</p>

{{ govukInsetText({
  text: address
}) }}

<a class="govuk-button" href="/address-summary">Use this address</a>


{% endblock %}